---
layout: default
title: Eric Luo - Portfolio
permalink: /projects/
---

<h2 class="section-title"> Featured </h2>
<div class="gallery-container">
  <div class="project-gallery">
    {% for project in site.projects %}
    <div class="gallery-item">
      <a href="{{ project.url | relative_url }}">
        <img src="{{ project.image | relative_url }}" alt="{{ project.title }}" />
        <p>{{ project.title}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<h2 class="section-title"> Other </h2>
<div class="gallery-container">
  <div class="project-gallery">
    {% for project in site.projects %}
    <div class="gallery-item">
      <a href="{{ project.url | relative_url }}">
        <img src="{{ project.image | relative_url }}" alt="{{ project.title }}" />
        <p>{{ project.title}}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>